@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "./utils/themes/dark-theme.scss";
@import "./utils/vars.scss";
@import "./utils/mixins.scss";
@import "./utils/media.scss";


body,
html {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	background-color: $neutral-primary;

	font-size: $mainFontSize;
	color: $mainFontColor;
	font-family: $mainFont;

	h1,
	h2,
	h3 {
		font-weight: 200;
	}
}

.container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}


@import "./components/header";
@import "./components/hero";
@import "./components/products";
@import "./components/footer";
