/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #fff;
// $mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$p                 : 18px;
$p-2               : $p * 2;
$p-3               : $p * 3;
$p-4               : $p * 4;
$p-5               : $p * 5;
$p-6               : $p * 6;

$m                 : 18px;
$m-2               : $m * 2;
$m-3               : $m * 3;
$m-4               : $m * 4;
$m-5               : $m * 5;
$m-6               : $m * 6;

/*
  All colors taken from:
*/

@import './colors/base-colors.scss';
